.header {
    padding: 12px 50px 25px;
    background-color: hsl(0, 13%, 10%);
    height: 100vh;
    overflow-y: auto;

    position: sticky;
    top: 0;

    &::-webkit-scrollbar {
        width: 0; 
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 9px;
        color: white;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
    }

}