@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF/LucianoDisplay-Bold.ttf'); 
}

@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF/LucianoDisplay-ExtraBold.ttf'); 
}

@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF/LucianoDisplay-Light.ttf'); 
}

@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF./LucianoDisplay-Medium.ttf'); 
}

@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF./LucianoDisplay-Regular.ttf'); 
}

@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF./LucianoDisplay-SemiBold.ttf'); 
}

@font-face {
	font-family: 'LucianoDisplay'; 
	src: url('./font/TTF/FontsFree-Net-LucianoDisplay-ExtraBold.ttf'); 
}